@import "common.css";

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

th, td {
    border-style: none;
}

marquee {
    background-color: #8057cc;
    color: #e4aaff;
    margin-left: 5px;
    margin: 0px 5px;
    padding: 3px;
}

.marquee {
    position:absolute;
    bottom:0;
}

.content h2 {
    text-align: center;
}

.content h3, p {
    margin: 8px;
}

.news-container {
    margin: 0px auto;
    width: 98%;
    display: flex;
}

.news-entry {
    background-color: #8057cc;
    color: #e4aaff;
    padding: 8px;
    box-shadow: 5px 5px 3px #a032b6;
    display: flex;
}

.center {
    text-align: center;
    justify-content: center;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* mobile */
@media (min-width: 375px)
{
    .nav-list {
        text-align: center;
    }
}

/* desktop */
@media (min-width: 780px) {
    .main {
        margin-top: 5%;
    }
}
